.movie-title {
  font-weight: bolder;
  font-size: large;
}

.creation-time {
  font-size: xx-small;
}

.watch-item {
  height: 100px;
  border-radius: 15px;
  transition: 500ms;
}

.watch-item:hover {
  background-color: #f2f2f2;
  border-color: dodgerblue !important;
  transition: 200ms;
}

.watch-item.watched {
  opacity: 30%;
}

.description {
  font-size: small;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}

.image {
  border: 1px solid black !important;
  object-fit: cover;
  height: 100%;
  aspect-ratio: 1 / 1;
}
