.title-container {
  min-width: 0 !important;
  flex-wrap: wrap;
  overflow: hidden;
}

.title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 0;
}

.text:hover {
  --sliding-animation-duration: 2;
  --sliding-animation-offset: 100;
  animation: slidingText calc(var(--sliding-animation-duration)*1s) infinite ;
}

@keyframes slidingText {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--sliding-animation-offset)*1px));
  }
}

.button {
  cursor: pointer;
}