.watch-item {
  height: 100px;
  border-radius: 15px;
  transition: 500ms;
}

.watch-item:hover {
  background-color: #f2f2f2;
  border-color: dodgerblue !important;
  transform: translateY(-2px);
  box-shadow: 5px 7px 20px -10px;
  transition: 200ms;
}

.description {
  font-size: small;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}

.image {
  border: 1px solid black !important;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  flex-shrink: 0;
}
.image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.not-watched > .image > .icon {
  display: none;
}

.watched {
  opacity: 30%;
}

.watched > .image > * {
  grid-column: 1;
  grid-row: 1;
}